.sticky-top{
    position: sticky;
    top: 0;
}


.personal-information .user .user-name{
    font-size:16px;
    color:#6C757D;
}


.personal-information{
    padding:0 18px 18px 18px;
}


.sidebar section{
    margin-left:20px;
    box-shadow: 0 1px 3px rgba(26,26,26,0.1);
    margin-bottom:30px;
    border-radius:4px;
}

.sidebar section h4{
    line-height:22px;
    padding:12px 2px;
    font-size:16px;
    border-bottom:2px solid #6C757D;
    margin:0 18px 10px 18px;
    font-weight:700;
}


.sidebar section .personal-information .user{
    width:100%;
}


.sidebar section .personal-information .user .avatar{
    width: 72px;
    height: 72px;
    display: block;
    margin: 0 auto;
    transition: 0.4s;
}


.sidebar section .personal-information .user .user-name, .sidebar section .personal-information .user .introduction{
    margin: 0;
    text-align: center;
    line-height: 20px;
}

.sidebar section .personal-information .user .user-name{
    color: #6C757D;
    display: block;
    font-size: 16px;
}


.sidebar section .personal-information .website{
    padding-top: 18px;
    margin-top: 18px;
}


.sidebar section .personal-information .website .info{
    width: 33.33%;
    text-align: center;
    font-size: 14px;
}



.sidebar section ul{
    list-style: none;
    padding: 0 18px 18px 18px;
}


.sidebar section ul li {
    padding: 8px 0;
    font-size: 13px;
}


.sidebar section .ltags-list a {
    color: #707281;
    padding: 8px 10px;
    margin: 2px;
    border: 1px solid #707281;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    transition: 0.3s;
    border-radius: 4px;
    font-weight: 500;
}



footer .container {
    padding: 20px 20px;
    text-align: center;
}


footer .container a, footer .container span {
    margin: 0 5px;
    color: #525252;
    font-size: 15px;
}